   <div class="dropdown">
                               
                           <h3 class="panel-title">
                          Quantity



                              </h3>






                        <table class="table table-condensed table-hover">
                                    <tbody>
                                      <tr class="active">
                                        <td>
                                            <a href="patient.html">
                                           Dulce1 </a>
                                        </td>
                                        <td>
                                          10
                                        </td>
                                        <td>
                                          50
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $1200
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            Dulce2
                                        </td>
                                        <td>
                                          12
                                        </td>
                                        <td>
                                          30
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $850
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            dulce3
                                        </td>
                                        <td>
                                          14
                                        </td>
                                        <td>
                                          34
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $200
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            Dulce4
                                        </td>
                                        <td>
                                          16
                                        </td>
                                        <td>
                                          30
                                        </td>
                                        <td>
                                          17
                                        </td>
                                          <td>
                                          $400
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /row -->
                <!-- Charts -->
                <div class="row">
                  <!-- main col left -->
                  <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                            <h3 class="panel-title">
                          Forecasting <span id="date"></span>
                        </h3>
                     <div id="total-spend" class="chart-col-6"></div> 
                      </div>
                    </div>
                  </div>
                  <!-- main col right -->
                  <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                           <h3 class="panel-title">
                          Replacement <span id="date"></span>
                        </h3>
                       <div id="cost-bd" class="chart-col-6"></div> 
                      </div>
                    </div>
                  </div>
                </div>

<script type="text/javascript">

edu.umbc.is603.inventory.products = JSON.parse("{{{productData}}}");
edu.umbc.is603.inventory.productsGraphs = JSON.parse("{{{productGraphs}}}");
edu.umbc.is603.inventory.productsAxes[0].maximum = {{{maxProduct}}};

edu.umbc.is603.inventory.replacements = JSON.parse("{{{replacementData}}}");
edu.umbc.is603.inventory.replacementsGraphs = JSON.parse("{{{replacementGraphs}}}");

$(function () {
  showdashboard();
})
</script>