<div class="panel panel-default">
  <div class="panel-body">
    <h3 class="panel-title">Filter</h3>
    <div class="row">
      <div class="col-sm-6">
        <form action="/" method="GET" class="">
          <div class="form-group required">
            <label for="select-model">Model</label>
            <select class="form-control" name="model" id="select-model" required
              describedby="select-model-help">
              {{#each models}}
              <option value="{{value}}" {{#if selected}}selected{{/if}}>
                {{name}}
              </option>
              {{/each}}
            </select>
            <small id="select-model-help" class="help-block">
            Select a model to forecast future demand.
            </small>
          </div>
          <div class="form-group">
            <label for="select-weeksBack">Number of Weeks Back</label>
            <select class="form-control" name="weeksBack" id="select-weeksBack"
              describedby="select-weeksBack-help">
              {{#each weeksBack}}
              <option value="{{value}}" {{#if selected}}selected{{/if}}>
                {{name}}
              </option>
              {{/each}}
            </select>
            <small id="select-weeksBack-help" class="help-block">
            Specify how many weeks back to go in order to forecast future
            demand.
            </small>
          </div>
          <button class="btn btn-success btn-lg" type="submit">Show</button>
        </form>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="well well-sm">
          <dl class="model-descriptions">
            {{#each text.models}}
            <dt class="model-description-{{@key}} hide">{{name}}</dt>
            <dd class="model-description-{{@key}} hide"><p>{{description}}</p></dd>
            {{/each}}
          </dl>
        </div>
        <script type="text/javascript">
        $(document).ready(function () {
        // show the model descriptions as the selected options changes
        var toggle = function (modelName) {
        var selector = '.model-description-' + modelName;
        var matched = $(selector);
        var well = $($('.model-descriptions').parents('.well').get(0));
        $('.model-descriptions').children().hide();
        well.hide();
        if (matched.length > 0) {
        matched.show();
        well.show();
        }
        };
        $('.model-descriptions').children('.hide').hide().removeClass('hide');
        $('#select-model').change(function (event) {
        var value = $(this).val();
        toggle(value);
        });
        toggle($('#select-model').val());
        // render a slider for the numweeks back selection
        var numWeeksBackSelect = $('#select-weeksBack');
        var minWeeksBack = 1;
        var maxWeeksBack = numWeeksBackSelect.find('option').length;
        var curBackVal = numWeeksBackSelect[0].selectedIndex + 1;
        var numWeeksBackMessage = $("<p><span id='num-weeksBack-message'>" +
        curBackVal + "</span>&nbsp;weeks</p>");
        var numWeeksBackSlider = $("<div id='slider-weeksBack'></div>")
        .insertAfter(numWeeksBackSelect)
        .slider({
        min: minWeeksBack,
        max: maxWeeksBack,
        range: 'min',
        value: curBackVal,
        slide: function (event, ui) {
        numWeeksBackSelect[0].selectedIndex = ui.value - 1;
        numWeeksBackMessage.find('#num-weeksBack-message').html(ui.value);
        }
        });
        numWeeksBackMessage.insertBefore(numWeeksBackSlider);
        numWeeksBackSelect.change(function () {
        numWeeksBackSlider.slider('value', this.selectedIndex + 1);
        });
        numWeeksBackSelect.hide();
        });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="dropdown">
      
      <h3 class="panel-title">
      Summary
      </h3>
      <div class="pre-scrollable">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity Sold <small>(this week)</small></th>
              <th>Current Inventory</th>
              <th>Forecasted Sales</th>
              <th>Recommendation</th>
            </tr>
          </thead>
          <tbody>
            {{#each summaryTable}}
            <tr>
              <td><abbr title="{{description}}">{{name}}</abbr></td>
              <td>{{quantitySold}}</td>
              <td>{{curInventory}}</td>
              <td>{{forecastedDemand}}</td>
              <td>
                {{#with recommendation}}
                {{#if replaceWith}}
                <span class="label label-warning">Replace</span>
                {{/if}}
                {{#if orderQuantity}}
                {{#if orderQuantity.quantity}}
                <span class="label label-danger">Restock</span>
                {{else}}
                <span class="label label-info">No action</span>
                {{/if}}
                {{/if}}
                {{/with}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /row -->
<!-- Charts -->
<div class="row">
<!-- main col left -->
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title">
      Forecasted Sales
      </h3>
      <div id="total-spend" class="chart-col-6"></div>
    </div>
  </div>
</div>
<!-- main col right -->
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title">
      Recommended Replacements <span id="date"></span>
      </h3>
      <div id="cost-bd" class="chart-col-6"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
edu.umbc.is603.inventory.products = JSON.parse("{{{productData}}}");
edu.umbc.is603.inventory.productsGraphs = JSON.parse("{{{productGraphs}}}");
edu.umbc.is603.inventory.productsAxes[0].maximum = {{{maxProduct}}};
edu.umbc.is603.inventory.replacements = JSON.parse("{{{replacementData}}}");
edu.umbc.is603.inventory.replacementsGraphs = JSON.parse("{{{replacementGraphs}}}");
$(function () {
showdashboard();
})
</script>