<div class="row">
  <div class="col-sm-12">
    <p>
      Use the form below to select a forecasting model to predict next 
      week's projected demand.  This value is used to determine how much 
      of each product to order each week.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <form action="/inventory/nextWeek" method="GET" class="">
            <div class="form-group required">
              <label for="select-model">Model</label>
              <select class="form-control" name="model" id="select-model" required
                describedby="select-model-help">
                <option value=""></option>
                {{#each models}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>
                  {{name}}
                </option>
                {{/each}}
              </select>
              <small id="select-model-help" class="help-block">
                Select a model to forecast future demand
              </small>
            </div>
            <div class="form-group">
              <label for="select-weeks">Number of Weeks Back</label>
              <select class="form-control" name="weeks" id="select-weeks" 
                describedby="select-weeks-help">
                {{#each weeks}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>
                  {{name}}
                </option>
                {{/each}}
              </select>
              <small id="select-weeks-help" class="help-block">
                Specify how many weeks back to go in order to forecast next 
                week's demand.
              </small>
            </div>
            <button class="btn btn-primary" type="submit">Show</button> 
        </form>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="well well-sm">
          <dl class="model-descriptions">
            {{#each text.models}}
            <dt class="model-description-{{@key}} hide">{{name}}</dt>
            <dd class="model-description-{{@key}} hide"><p>{{description}}</p></dd>
            {{/each}}
          </dl>
        </div>
        <script type="text/javascript">
        $(document).ready(function () {
          // show the model descriptions as the selected options changes
          var toggle = function (modelName) {
            var selector = '.model-description-' + modelName;
            var matched = $(selector);
            var well = $($('.model-descriptions').parents('.well').get(0));
            $('.model-descriptions').children().hide();
            well.hide();
            if (matched.length > 0) {
              matched.show();  
              well.show();
            }
          };

          $('.model-descriptions').children('.hide').hide().removeClass('hide');

          $('#select-model').change(function (event) {
            var value = $(this).val();
            toggle(value);
          });

          toggle($('#select-model').val());

          // render a slider for the numweeks selection
          var numWeeksSelect = $('#select-weeks');
          var minWeeks = 1;
          var maxWeeks = numWeeksSelect.find('option').length;
          var curValue = numWeeksSelect[0].selectedIndex + 1;
          var numWeeksMessage = $("<p><span id='num-weeks-message'>" +
            curValue + "</span>&nbsp;weeks</p>");
          var numWeeksSlider = $("<div id='slider-weeks'></div>")
            .insertAfter(numWeeksSelect)
            .slider({
              min: minWeeks,
              max: maxWeeks,
              range: 'min',
              value: curValue,
              slide: function (event, ui) {
                numWeeksSelect[0].selectedIndex = ui.value - 1;
                numWeeksMessage.find('#num-weeks-message').html(ui.value);
              }
            });

          numWeeksMessage.insertBefore(numWeeksSlider);

          numWeeksSelect.change(function () {
            numWeeksSlider.slider('value', this.selectedIndex + 1);
          });

          numWeeksSelect.hide();
        });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{#each products}}
    <hr/>
    <div class="product">
      <h2>{{name}}</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>Details</h3>
          <dl>
            <dt>Description</dt>
            <dd>{{description}}</dd>
            <dt>Type</dt>
            <dd>{{type}}</dd>
            <dt>Retail Price</dt>
            <dd>{{retailPrice}}</dd>
            <dt>Current Inventory</dt>
            <dd>{{inventory}}</dd>
          </dl>
          {{#if debug}}
          <div class="debug">
            <h3>Debug</h3>
            <pre>{{debug}}</pre>
          </div>
          {{/if}}
        </div>
        <div class="col-sm-8">
          {{#if recommendation}}
          <div class="recommendation">
            {{#with recommendation}}
            <h3>
              Recommendation
              {{#if replaceWith}}
              <span class="label label-warning">Replace</span>
              {{/if}}
              {{#if orderQuantity}}
              {{#if orderQuantity.quantity}}
              <span class="label label-success">Restock</span>
              {{else}}
              <span class="label label-info">No action</span>
              {{/if}}
              {{/if}}
            </h3>
            <div class="summary">
              {{#if replaceWith}}
              {{#with replaceWith}}
              <p><strong>Replace with {{product.name}}.</strong></p>
              {{/with}}
              {{/if}}
              {{#if orderQuantity}}
              {{#with orderQuantity}}
              {{#if quantity}}
              <p><strong>Order {{quantity}} more units.</strong></p>
              {{else}}
              <p><strong>Do nothing.</strong></p>
              {{/if}}
              {{/with}}
              {{/if}}
            </div>
            <div class="justification">
              {{#if replaceWith}}
              {{#each replaceWith.justification}}
              <p>{{.}}</p>
              {{/each}}
              {{/if}}
              {{#if orderQuantity}}
              {{#each orderQuantity.justification}}
              <p>{{.}}</p>
              {{/each}}
              {{/if}}
            </div>
            {{/with}}
          </div>
          {{/if}}
          <h3>Weekly Sales</h3>
          <div class="pre-scrollable">
            <table class="table table-striped sales">
              <thead>
                <tr>
                  <th>Week ID</th>
                  <th>Quantity</th>
                  <th>Market Average</th>
                  <th>Number of Stores</th>
                  <th>Promotion?</th>
                </tr>
              </thead>
              <tbody>
                {{#each weeklySales}}
                <tr{{#if forecasted}} class="info"{{/if}}>
                    <td>{{id}}</td>
                    <td>{{quantity}}</td>
                    <td>{{marketAverage}}</td>
                    <td>{{numStores}}</td>
                    <td>{{#if promo}}Yes{{else}}No{{/if}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>